<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Setor de T.I</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
  <ion-list>
    <ion-item>
      <ion-label (click)="showCertificados()">Certificados Digitais</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Manunteção</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Controle de Tonners</ion-label>
    </ion-item>
  </ion-list>
</ion-card>
</ion-content>
